body
  padding-top 20px
  padding-bottom 20px

.header,
.footer
  padding-left 15px
  padding-right 15px

.header
  border-bottom 1px solid #e5e5e5
  margin-bottom 30px
  .github-logo
    height 60px
    width 60px
  .text-muted
    margin-top 0
    margin-bottom 0
    margin-left 10px
    line-height 40px
    padding-bottom 19px
    font-size 14pt
.footer
  padding-top 19px
  color #777
  border-top 1px solid #e5e5e5
  .icon
    width 24px
    height 24px
    margin-right 10px
@media (min-width:768px)
  .container
    max-width 730px

@media screen and (min-width: 768px)
  .header,
  .marketing,
  .footer
    padding-left 0
    padding-right 0
.container-narrow
  & > hr
    margin 30px 0

.jumbotron
  font-size 11px
  text-align center
  border-bottom 1px solid #e5e5e5
  border-bottom 0
  background-color #ffffff
  form
    padding-bottom 20px
  h4
    color #bbbbbb
  ul
    list-style: none
  .alert
    font-size 11pt
  .loading
    background rgba(0,0,0,.05) url(/images/preloader.gif) center center no-repeat;
    width 100%
    height 100px
  .avatar
    width 60px
    height 60px
  .total
    color: #999999
    font-weight 500
    text-align right
  .issue-list
    padding 0
    li
      padding 5px
      text-align left
      font-size 11pt
      color #3c3c3c
    li:nth-of-type(2n)
      background-color #ffffff
    li:nth-of-type(2n+1)
      background-color #f3f3f3
  .panel-heading
    font-size 10pt
    font-weight 600
    text-align left
    select
      width 70px
      display inline
  .info-container
    text-align left
    font-size 10pt
    .btn
      float right
      margin-right 10px
    .info-label
      color #999999
      font-weight 700
    .info-value
      color #595959
      margin-left 7px
